<div class="vertical-center">
    <mat-card>
        <mat-card-content>
            <h3>Forgot Password</h3>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary">Submit</button>
            <mat-divider inset></mat-divider>
            <p><a [routerLink]="['/']">Log In</a></p>
        </mat-card-content>
    </mat-card>
</div>